$bg-color: rgba(90, 3, 86, 1);
$font-stack-one: "Nunito Sans", sans-serif;
$font-stack-two: "Poppins", sans-serif;
$black-color: rgb(15, 15, 15);
$white-color: rgb(211, 211, 211);
$purple-color: rgb(152, 7, 172);
@keyframes navLinksFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: $bg-color;
  font-family: $font-stack-one;
  line-height: 1.6;
  font-size: 0.8em;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
header {
  position: sticky;
  top: 0;
  animation: fadeInLeftBig;
  animation-duration: 0.7s;
}
.dropdown {
  .burger {
    background-color: $purple-color;
    position: absolute;
    z-index: 99;
    width: 5em;
    height: 5em;
    border-radius: 0% 10% 75% 10%;
    border: 0;
    div {
      height: 4px;
      background-color: $white-color;
      margin: 3px 0 3px 0.8em;
      border-radius: 25px;
      transition: 0.3s;
    }
    .line1 {
      width: 30px;
    }
    .line2 {
      width: 20px;
    }
    .line3 {
      width: 25px;
    }
  }
  .burger:hover {
    div {
      width: 30px;
    }
  }
  .nav {
    background-color: $purple-color;
    min-width: 150px;
    position: absolute;
    display: flex;
    left: 0px;
    height: 16em;
    border-radius: 10px;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    .nav-links {
      list-style-type: none;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 0;
      width: inherit;
      height: inherit;
      margin: auto;
      font-family: $font-stack-two;
      font-size: 1.05em;
      transition: all 0.2s ease-in-out;
      li {
        height: 17%;
        opacity: 0;
        &:hover {
          font-size: 1.1em;
        }
        a {
          color: $white-color;
        }
      }
    }
  }
  &:hover {
    div {
      width: 30px;
    }
  }
}
.nav-active {
  transform: translateX(0%) !important;
}
.toggle {
  .line1 {
    transform: rotate(45deg) translate(5px, 9px);
    width: 30px !important;
  }
  .line2 {
    opacity: 0;
  }
  .line3 {
    transform: rotate(-45deg) translate(5px, -9px);
    width: 30px !important;
  }
}
.wrapper-dropdown {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.flexbox {
  display: flex;
}
.align-left {
  flex-direction: column;
  align-items: flex-end;
  margin: 0 7em 0;
}
.presentation-article {
  display: flex;
  height: 110vh;
  align-items: center;
  justify-content: flex-end;
}
.presentation-text {
  h1 {
    color: $black-color;
    font-size: 5em !important;
    font-weight: 600;
    animation: backInRight ease-out;
    animation-duration: 1.3s;
    span {
      color: $purple-color;
      font-weight: 500;
    }
  }
  h2 {
    color: $white-color;
    font-size: 4.5em !important;
    animation: backInRight ease-out;
    animation-duration: 1.5s;
  }
}
.w-100 {
  width: 100%;
}
.button {
  width: 7rem;
  height: 2rem;
  border: 1px solid $white-color;
  background: linear-gradient(-45deg, $black-color 50%, $white-color 50%);
  background-size: 230% 100% !important;
  background-position: right bottom !important;
  color: $white-color;
  border-radius: 1px;
  transition: all 0.25s ease-in !important;
  &:hover {
    border: 1px solid $black-color;
    color: $black-color;
    background-position: left bottom !important;
  }
}
.article {
  width: 100%;
  height: 80vh;
}
.about-me-article {
  background-color: $black-color;
  color: $white-color;
  margin: auto;
  animation: fadeInUp;
  animation-duration: 0.7s;
  justify-content: center;
  flex-direction: column;
  a {
    align-self: center;
    button {
      margin: 1em;
    }
  }
}
.about-me-article-text {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    padding: 0 1em 0.8em 1em;
    font-size: 2.5em;
  }
  h2 {
    text-align: center;
    padding: 1em 4em;
    font-size: 1.8em;
  }
}
.grid {
  display: grid;
}
.work-articles {
  margin-top: 30em;
  gap: 10em;
  .work-article {
    background-color: $white-color;
    display: flex;
    flex-direction: row;
    .work-wrapper {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem 2rem;
      margin: 4em;
      .text-wrapper {
        flex-direction: column;
        h1 {
          font-size: 2.5em;
          padding-bottom: 1em;
        }
        h2 {
          font-size: 1.8em;
        }
      }
      .image-container {
        width: 100%;
        height: 100%;
        border: 1px solid $black-color;
        .image {
          max-width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .button-wrapper {
        flex-direction: row;
        width: 40%;
        justify-content: space-around;
      }
    }
  }
}
.even-article {
  .work-wrapper {
    .text-wrapper {
      grid-column: 2/3;
    }
    .image-container {
      grid-row: 1/2;
    }
    .button-wrapper {
      grid-column: 2/3;
      justify-self: end;
    }
  }
}
.white-button {
  background: linear-gradient(-45deg, $white-color 50%, $black-color 50%);
  color: $black-color;
  &:hover {
    color: $white-color;
    border: 1px $white-color solid;
  }
}
.contact-me-article {
  margin-top: 20em;
  background-color: $black-color;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  button {
    width: 13%;
  }
  h1 {
    color: $white-color;
  }
}
.footer {
  margin-top: 5em;
  height: 18vh;
  background-color: rgb(37, 34, 34);
  color: $white-color;
}
