$bg-color: rgba(90, 3, 86, 1);
$font-stack-one: "Nunito Sans", sans-serif;
$font-stack-two: "Poppins", sans-serif;
$black-color: rgb(15, 15, 15);
$white-color: rgb(211, 211, 211);
$purple-color: rgb(152, 7, 172);
@keyframes navLinksFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: $bg-color;
  font-family: $font-stack-one;
  line-height: 1.6;
  font-size: 1em;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
header {
  position: sticky;
  top: 0;
  animation: fadeInLeftBig;
  animation-duration: 0.7s;
}
.dropdown {
  .burger {
    background-color: $purple-color;
    position: absolute;
    z-index: 99;
    width: 4em;
    height: 4em;
    border-radius: 0% 10% 75% 10%;
    border: 0;
    div {
      height: 4px;
      background-color: $white-color;
      margin: 3px 0 3px 0.8em;
      border-radius: 25px;
      transition: 0.3s;
    }
    .line1 {
      width: 30px;
    }
    .line2 {
      width: 20px;
    }
    .line3 {
      width: 25px;
    }
  }
  .burger:hover {
    div {
      width: 30px;
    }
  }
  .nav {
    background-color: $purple-color;
    min-width: 150px;
    position: absolute;
    display: flex;
    left: 0px;
    height: 16em;
    border-radius: 10px;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    .nav-links {
      list-style-type: none;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 0;
      width: inherit;
      height: inherit;
      margin: auto;
      font-family: $font-stack-two;
      li {
        height: 17%;
        opacity: 0;
        a {
          color: $white-color;
        }
      }
    }
  }
  &:hover {
    div {
      width: 30px;
    }
  }
}
.nav-active {
  transform: translateX(0%) !important;
}
.toggle {
  .line1 {
    transform: rotate(45deg) translate(5px, 9px);
    width: 30px !important;
  }
  .line2 {
    opacity: 0;
  }
  .line3 {
    transform: rotate(-45deg) translate(5px, -9px);
    width: 30px !important;
  }
}
.wrapper-dropdown {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.flexbox {
  display: flex;
}
.align-left {
  flex-direction: column;
  align-items: flex-end;
  margin: 0 7em 0;
}
.presentation-article {
  display: flex;
  height: 40rem;
  align-items: center;
  justify-content: flex-end;
}
.presentation-text {
  h1 {
    color: $black-color;
    font-size: 4em;
    font-weight: 600;
    animation: backInRight ease-out;
    animation-duration: 1.3s;
    span {
      color: $purple-color;
      font-weight: 500;
    }
  }
  h2 {
    color: $white-color;
    font-size: 3.5em;
    animation: backInRight ease-out;
    animation-duration: 1.5s;
  }
}
.w-100 {
  width: 100%;
}
.button {
  width: 7rem;
  height: 2rem;
  border: 1px solid $white-color;
  background: linear-gradient(-45deg, $black-color 50%, $white-color 50%);
  background-size: 230% 100%;
  background-position: right bottom;
  color: $white-color;
  border-radius: 1px;
  transition: all 0.25s ease-in;
  &:hover {
    border: 1px solid $black-color;
    color: $black-color;
    background-position: left bottom;
  }
}
// USE ANIMATIONS FOR TEXT
.about-me-article {
  width: 100%;
  height: 28em;
  background-color: $black-color;
  color: $white-color;
  margin: auto;
  animation: fadeInUp;
  animation-duration: 0.7s;
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
  justify-content: center;
  flex-direction: column;
  a {
    align-self: center;
    button {
      margin: 1em;
    }
  }
}
.about-me-article-text {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    padding: 0 1em 0.8em 1em;
    font-size: 2em;
  }
  h2 {
    text-align: center;
    padding: 1em 4em;
    font-size: 1.6em;
  }
}
.grid {
  display: grid;
}
.work-articles {
  margin: 10em 0;
  gap: 7em;
  .work-article {
    height: 85vh;
    background-color: $white-color;
    display: flex;
    flex-direction: row;
    div {
      align-self: center;
      justify-self: flex-start;
      margin: 1em;
      .text-wrapper {
        align-self: flex-start;
        flex-direction: column;
      }
      .image-container {
        width: 34em;
        height: 20em;
        border: 1px solid $black-color;
        .image {
          max-width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .button-wrapper {
        align-self: flex-end;
        flex-direction: row;
      }
    }
  }
}
