$bg-color: rgba(90, 3, 86, 1);
$font-stack-one: Arial, Helvetica, sans-serif;
$font-stack-two: "Poppins", sans-serif;
$primary-color: rgb(15, 15, 15);
$white-color: rgb(233, 233, 233);
@keyframes navLinksFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: $bg-color;
  font-family: $font-stack-one;
  line-height: 1.6;
  font-size: 1em;
}
a {
  text-decoration: none;
}
header {
  position: sticky;
  top: 0;
}
.dropdown {
  .burger {
    background-color: $primary-color;
    position: absolute;
    z-index: 1;
    width: 4em;
    height: 4em;
    border-radius: 0% 10% 75% 10%;
    border: 0;
    div {
      height: 4px;
      background-color: $white-color;
      margin: 3px 0 5px 0.8em;
      border-radius: 25px;
      transition: 0.3s;
    }
    .line1 {
      width: 30px;
    }
    .line2 {
      width: 20px;
    }
    .line3 {
      width: 25px;
    }
  }
  .burger:hover {
    div {
      width: 30px;
    }
  }
  .nav {
    background-color: $primary-color;
    min-width: 150px;
    display: flex;
    position: absolute;
    left: 0px;
    height: 16em;
    border-radius: 10px;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    .nav-links {
      list-style-type: none;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 0;
      width: inherit;
      height: inherit;
      margin: auto;
      li {
        height: 17%;
        opacity: 0;
        a {
          color: $white-color;
        }
      }
    }

    a {
      color: #fff;
    }
  }
  &:hover {
    div {
      width: 30px;
    }
  }
}
.nav-active {
  transform: translateX(0%) !important;
}
.toggle {
  .line1 {
    transform: rotate(45deg) translate(8px, 9px);
    width: 30px !important;
  }
  .line2 {
    opacity: 0;
  }
  .line3 {
    transform: rotate(-45deg) translate(8px, -9px);
    width: 30px !important;
  }
}
.wrapper-dropdown {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.flexbox {
  display: flex;
}
.align-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 7em 0 0;
}
.presentation-text {
  h1 {
    color: $white-color;
    font-family: $font-stack-two;
    font-size: 3.5em;
    span {
      color: $primary-color;
    }
  }
  h2 {
    font-size: 3.5em;
    color: $white-color;
    font-family: $font-stack-two;
  }
}
.w-100 {
  width: 100%;
}
.presentation-article {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: flex-end;
}
// USE ANIMATIONS FOR TEXT
